/*
*   Folha de estilos aplicados às classes de elementos HTML
*   -> Referencia elementos da página "salas"
*/

.hoverarchor {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.hoverarchor:hover {
    transform: scale(1.1);
}

.hoverarchor:hover a {
    color: rgb(33, 150, 243) !important;
}

.hover-footer-btn {
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.4s !important;
}

.hover-footer-btn:hover {
    background-color: rgba(250, 250, 250, 0.1);
}

.d-none {
    display: none;
}

.incoming-videos {
    display: block;
    position: absolute;
    top: 117px;
    right: 17%;
    width: 20%;
}

.constructed-videos {
    margin: 5px;
    border: 1px solid black;
    border-radius: 4px;
}

.li-hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.li-hover:hover {
    background-color: rgb(231, 231, 231) !important;
}

.width-limit {
    max-width: 662px;
}

.height-limit {
    max-height: 441px;
}

.disconnect-btn:hover {
    cursor: pointer;
}

.room-enter:hover {
    cursor: pointer;
}

.second-video {
    position: absolute !important;
    top: 218px !important;
    right: 0px !important;
    max-width: 320px;
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.4s !important;
    z-index: 2 !important;
    padding-bottom: 20px;
}

.min-video {
    max-width: 320px;
}

.container-min {
    margin-left: 70px;
    margin-right: 70px;
}

.chat-in {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.chat-out {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}