/*
*   Folha de estilos aplicados aos IDs de elementos HTML
*/

#backgroundLayer {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
    z-index: -1;
}

#centralized {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2147483648;
    opacity: 1;
}

#chat-textarea {
    min-height: 120px;
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
}

#count-pedir-vez {
    position: fixed;
    bottom: 45px;
    right: 0px;
}

#div-chat-panel,
#div-volume-panel {
    position: fixed;
    bottom: 49px;
    width: 100%;
}

#div-exit-fullscreen {
    margin-bottom: 45px;
    z-index: 2147483648;
}

#control-toggle-disabled {
    z-index: 2147483648;
}

#fglayer {
    position: fixed;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2147483647;
}

#nav-footer {
    position: fixed;
    bottom: 0px;
}

#secondvideo-preview {
    border: 2px solid rgba(200, 200, 200, 0.5);
    border-radius: 4px;
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.4s !important;
}

#secondvideo-preview:hover {
    border: 2px solid rgba(100, 100, 100, 1);
}

#slide-out {
    overflow: hidden;
}

#toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 10% !important;
    right: 0% !important;
}

video::-webkit-media-controls {
    display: none !important;
    z-index: -1 !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

#video-preview {
    width: inherit;
    height: inherit;
    border-radius: 4px;
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.4s !important;
}

#viewers {
    font-size: 18px;
}