/*
*   Folha de estilos aplicados às classes de elementos HTML
*   -> Referencia elementos da página "salas"
*/

.autocomplete-content {
    color: rgb(33, 150, 243) !important;
}

.blockquoted {
    border-left: 5px solid rgb(33, 150, 243);
    padding: 5px;
    margin: 2px;
}

.blockquoted-red {
    border-left: 5px solid rgb(202, 52, 52);
    padding: 5px;
    margin: 2px;
}

.chat-in,
.chat-out {
    padding: 8px;
    margin: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    max-width: 320px;
}

.chat-in {
    border-bottom-right-radius: 8px;
}

.chat-out {
    border-bottom-left-radius: 8px;
}

.constructed-videos {
    margin: 5px;
    border: 1px solid black;
    border-radius: 2px;
}

.container-min {
    margin-left: 70px;
    margin-right: 70px;
}

.controllers-container {
    padding: 5px;
}

.d-none {
    display: none;
}

.disconnect-btn:hover {
    cursor: pointer;
}

.height-limit {
    max-height: 441px;
}

.hover-footer-btn {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.hover-footer-btn:hover {
    background-color: rgba(250, 250, 250, 0.1);
}

.hoverarchor {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
}

.hoverarchor:hover {
    transform: scale(1.1);
}

.hoverarchor:hover a {
    color: rgb(33, 150, 243) !important;
}

.incoming-videos {
    display: block;
    position: absolute;
    top: 117px;
    right: 17%;
    width: 20%;
}

.li-disconnect {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin: 3px;
    padding: 3px;
    border-radius: 2px;
}

.li-disconnect:hover {
    background-color: rgba(86, 130, 138, 0.2);
}

.li-hover {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.main-container {
    margin-top: 40px;
    padding-bottom: 60px;
    margin-left: 10%;
    margin-right: 10%;
}

.media-control {
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color: rgb(34, 155, 255) !important;
    margin: 3px;
}

.media-control:hover {
    background-color: rgb(27, 24, 24) !important;
}

.min-video {
    max-width: 320px;
}

.room-enter:hover {
    cursor: pointer;
}

.second-video {
    position: fixed !important;
    top: 168px !important;
    right: 0px !important;
    max-width: 320px;
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.4s !important;
    z-index: 2 !important;
    padding-bottom: 20px;
}

.valign-wrapper {
    margin: -10px !important;
}

.width-limit {
    max-width: 662px;
}