/*
*   Folha de estilos aplicados aos IDs de elementos HTML
*/

#backgroundLayer {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
    z-index: -2;
}

#bgdark {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.6;
    z-index: -1;
}

#broadcastingReady {
    position: absolute;
    top: -150px;
}

#centralized {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 2147483648;
    opacity: 1;
}

#listaChamada,
#chat-textarea,
#exp-files {
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
}

#listaChamada::-webkit-scrollbar-track,
#chat-textarea::-webkit-scrollbar-track,
#connected-users-list::-webkit-scrollbar-track,
#exp-files::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#listaChamada::-webkit-scrollbar,
#chat-textarea::-webkit-scrollbar,
#connected-users-list::-webkit-scrollbar,
#exp-files::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0.8%;
    min-width: 6px;
    max-width: 8px;
    background: transparent;
}

#listaChamada::-webkit-scrollbar-thumb,
#chat-textarea::-webkit-scrollbar-thumb,
#connected-users-list::-webkit-scrollbar-thumb,
#exp-files::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: #525252;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

#listaChamada::-webkit-scrollbar-thumb:hover,
#chat-textarea::-webkit-scrollbar-thumb:hover,
#connected-users-list::-webkit-scrollbar-thumb:hover,
#exp-files::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

#class-title {
    font-size: 26px;
}

#close-participation {
    position: fixed;
    right: 275px;
    bottom: 70px;
}

#connected-users-list {
    overflow-y: auto;
    max-height: 380px;
}

#control-toggle-disabled {
    z-index: 2147483648;
}

#count-pedir-vez {
    position: absolute;
    z-index: 10;
    transform: translate(-100%, 0%);
}

#count-send-files,
#count-receive-files {
    position: absolute;
    z-index: 2;
    transform: translate(-60%, 110%);
}

#div-controller,
#nav-controller {
    border-radius: 3px;
}

#div-exit-fullscreen {
    margin-bottom: 45px;
    z-index: 2147483648;
}

#div-incoming-videos,
#div-main-video {
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.4s !important;
}

#embedded-container12 {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

#embedded-container12 object,
#embedded-container12 embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#files-side-bar {
    overflow: hidden;
}

#fglayer {
    position: fixed;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2147483647;
}

#message-writer-content {
    position: absolute;
    bottom: 60px;
    z-index: 10;
    width: 100%;
    padding: 5px;
}

#msg-informa-espectadores {
    max-height: 320px;
}

#secondvideo-preview {
    border: 2px solid rgba(200, 200, 200, 0.5);
    border-radius: 2px;
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.4s !important;
}

#secondvideo-preview:hover {
    border: 2px solid rgb(34, 155, 255);
}

#screen-share-1 {
    position: absolute;
    right: 0px;
    z-index: 10;
}

#slide-out {
    overflow: hidden;
}

#swap-video {
    position: absolute;
}

#thirdvideo-preview {
    border: 2px solid rgba(200, 200, 200, 0.5);
    border-radius: 2px;
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.4s !important;
}

#thirdvideo-preview:hover {
    border: 2px solid rgb(34, 155, 255);
}

#toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 10% !important;
    right: 0% !important;
}

video::-webkit-media-controls {
    display: none !important;
    z-index: -1 !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

#video-preview {
    width: inherit;
    height: inherit;
    border-radius: 2px;
    -webkit-transition-duration: 0.4s !important;
    transition-duration: 0.4s !important;
}

#viewers {
    font-size: 18px;
}

#video-preview-broadcaster {
    width: 50%;
}

#waitingLinkFile {
    font-size: 18px;
}